@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;500;700;800&display=swap');

/* SCORLL BAR  */
::-webkit-scrollbar {
    width: 10px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.background_gradient {
    background-color: #ff9b8c;
    background-image: linear-gradient(90deg, #ff9b8c 0%, #ff89a1 55%, #ff99ac 100%);
}

.text_gradient {
    background: linear-gradient(90deg, #ff9b8c 0%, #ff89a1 55%, #ff99ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.limit-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.grid_auto_fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
